{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra-css %}
    <link href="{% static "css/datetimepicker/datetimepicker.css" %}" rel="stylesheet" type="text/css" >
{% endblock extra-css %}

{% block extra-scripts %}
    <script type="text/javascript" charset="utf8" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
{% endblock extra-scripts %}


{% block main %}
<p></p>

<div id="div-home" class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Call <span class="pull-right">{{ call_status }}</span></div>
        <div class="panel-body">
        {% crispy log_entry_form log_entry_form.helper %}
        </div>
    </div>
</div>

<div id="div-home" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Subject <span class="pull-right">{{ name }} {{ subject_identifier }}</span></div>
        <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">{{ name|default:'name?' }}</a></li>
        <li role="presentation"><a href="#">{{ age|default:'age?' }} {{ gender|default:'gender?' }}</a></li>
        </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Contact History</div>
        <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        {% for obj in contact_history%}
            <li role="presentation"><a href="#">{{ obj.call_datetime|date:'Y-m-d H:i' }} {% if obj.call_again == 'Yes' %}Call Again{% else %} Do not call{% endif %}</a></li>
        {% endfor %} 
        </ul>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Subject Contacts</div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><b>Cell</b>: {{ contact_information.subject_cell }}</li>
                <li role="presentation"><b>May SMS?</b>: {{ contact_information.may_sms_follow_up }}</li>
                <li role="presentation"><b>Phone</b>: {{ contact_information.subject_phone }}</li>
                <li role="presentation"><b>Address</b>: {{ contact_information.physical_address }}</li>
            </ul>
        </div>
        {% if contact_information.contact_name %}
            <div class="panel-heading">Other Contacts</div>
                <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">{{ contact_information.contact_name }}</li>
                    <li role="presentation">{{ contact_information.contact_cell }}</li>
                    <li role="presentation">{{ contact_information.contact_relation|default:'relation unknown' }}</li>
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Appointments</div>
        <div class="panel-body">{{ appointments|default:'no open appointments' }}</div>
    </div>

</div>

{% endblock main%}

{% block extra-scripts-bottom %}
{{ block.super }}
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayBtn: 'linked',
        });
        $('#button-id-cancel-log-entry').click( function(e) {
            window.location='{% url "call_manager_admin:call_manager_call_changelist" %}';
            return true;
         });
    });
    
</script>
{% endblock extra-scripts-bottom %}
    