{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<p></p>


    <div id="div-home" class="col-md-4">
        <ul id="nav-pill-home" class="nav nav-pills nav-stacked">
          <li class="active"><a href="#" disabled">Home 
                <span class="glyphicon glyphicon-home pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-call-manager" href="#">Call Subjects
                <span class="glyphicon glyphicon-earphone pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-tshipidi-subjects" href="#">Tshipidi Subjects
                <span id="bdg-tshipidi-subjects" class="badge pull-right"></span>
                <span class="fa fa-user fa-2x pull-right" aria-hidden="true"></span>
          </a></li>
          <li class="dropup">
            <a id="pill-verify-consent" class="dropdown-toggle" data-toggle="dropdown" href="#">Consent Verification
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Consent Verification</li>
              <li><a id="link-verify-consent-subjects" href="#">Subjects</a></li>
          </ul>
          </li>
          <li class="dropup">
            <a id="pill-home-help" class="dropdown-toggle" data-toggle="dropdown" href="#">Help
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Help</li>
              <li><a id="pill-help-consent" href="#">Consent Subjects</a></li>
           </ul>
           </li>
          <li class="dropup">
            <a id="pill-home-help" class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Administration</li>
              <li><a id="pill-admin-encryption" href="{% url 'encryption_admin:app_list' 'django_crypto_fields' %}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Encryption</a></li>
           </ul>
          </li>
        </ul>
    </div>
    <div id="div-home" class="col-md-4">
        <div class="panel panel-warning">
          <!-- Default panel contents -->
            <div class="panel-heading">Worklist
              <a id="link-refresh" href=""><i id="bdg-refresh" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
            </div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-not-contacted" href="#">Subjects never contacted<span id="bdg-not-contacted" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-contacted-retry" href="#">Subjects contacted, try again<span id="bdg-contacted-retry" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-not-consented" href="#">Subjects not consented<span id="bdg-not-consented" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Administration</div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            </ul>
            </div>
        </div>



        </div>
    <div id="div-home" class="col-md-4">
        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading"><span id="today">Today</span><span id="todays-date" class="pull-right"></span></div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-contacted-today" href="#">Contacted<span id="bdg-contacted-today" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-consented-today" href="#">Consented<span id="bdg-consented-today" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading">Overall</div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-consented" href="#">Consented<span id="bdg-consented" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        </div>


{% endblock main %}

{% block extra-scripts-bottom %}
{{ block.super }}

<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var d = new Date();
        $('#todays-date').text(d.toDateString());
        $('#bdg-refresh').click( function(e) {
            e.preventDefault();
            updateBadges();
          });

        updateBadges();            

        updatePillLinks();    

        updateTshipidiSubjectLinks();
        
        updateVerifyConsentLinks();

        callUrl = '{% url 'call_manager_admin:call_manager_call_changelist' %}';
        updateCallLinks(callUrl);

    });
    
    function updatePillLinks() {
        $('#pill-tshipidi-subjects').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:tshipidi_plus_tshipidisubject_changelist' %}';
            });
        $('#pill-call-manager').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'call_manager_admin:call_manager_call_changelist' %}';
            });
    }
    
    function updateCallLinks(callUrl) {
        
        $('#link-not-contacted').attr('href', callUrl+'?call_status__exact=NEW');
        $('#link-contacted-retry').attr('href', callUrl+'?call_status__exact=open');
        $('#link-contacted-today').attr('href', callUrl+'?call_status__exact=open&'+todayString('modified'));
    }

    function todayString(column) {
        var d = new Date();  //timestamp
        var da = d.getDate();   //day
        var mon = d.getMonth() + 1;   //month
        var yr = d.getFullYear();   //year
        return column+'__day='+da+'&'+column+'__month='+mon+'&'+column+'__year='+yr;
    } 

    function updateVerifyConsentLinks() {
        url = '{% url 'admin:tshipidi_plus_subjectconsent_changelist' %}';
        $('#link-verify-consent-subjects').attr('href', url+'?is_verified__exact=0');
    }

    function updateTshipidiSubjectLinks() {
        url = '{% url 'admin:tshipidi_plus_tshipidisubject_changelist' %}'
        $('#link-not-consented').attr('href', url+'?consented__exact=0');
        $('#link-consented').attr('href', url+'?consented__exact=1');
        $('#link-consented-today').attr('href', url+'?consented__exact=1&'+todayString('modified'));
    }
    
    function updateBadges() {
        $("#bdg-refresh").addClass('fa-spin');
        $.ajax({
            type:'GET',
            url: {% url 'update-statistics' %},
            success:function(json){
                $("#bdg-tshipidi-subjects").text(json.potential_subjects);
                $("#bdg-not-contacted").text(json.not_contacted);
                $("#bdg-contacted-retry").text(json.contacted_retry);
                $("#bdg-not-consented").text(json.not_consented);
                $("#bdg-consented-today").text(json.consented_today);
                $("#bdg-contacted-today").text(json.contacted_today);
                $("#bdg-consented").text(json.consented);
                $("#bdg-refresh").removeClass('fa-spin');
              },
        });
    return true;
    }
 
</script>
{% endblock extra-scripts-bottom%} 